<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Composite API" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.artifact.apim.category"
			class="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.ui.wizard.CompositeApiProjectCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newCompositeApiProject"
			project="true"
			icon="icons/new-mediator-16x16.png">
			<description>Composite API Project</description>
		</wizard>
         <category
               id="org.wso2.developerstudio.eclipse.artifact.apim.category"
               name="Composite API"
               parentCategory="org.wso2.developerstudio.eclipse.capp.project">
         </category>
   </extension> 
   <extension point="org.eclipse.ui.newWizards">
         <wizard name="Import APIs to create composite API"
			category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.extensions/org.wso2.developerstudio.eclipse.extensions.project.types"
			class="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.ui.wizard.APIImportMainWizard"
			id="org.wso2.developerstudio.eclipse.artifact.addcompositeapitoworkspace"
			icon="icons/new-mediator-16x16.png">
			<description>Import APIs to create composite API</description>
		</wizard>
   </extension> 
   <extension
		point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
		<wizardCategory category="org.wso2.developerstudio.eclipse.artifact.apim.category"/>
    	<category id="dashboard.category.apim" showTitle="true"
                  title="API Manager"
                  priority="8">
        </category>
        <wizardLink category="dashboard.category.apim" id="dashboard.wizardLink.apim.project"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newCompositeApiProject">
        </wizardLink>
        <!-- APIM doesn't have any other projects at the moment -->
        <!--wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.execution-plan"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newexecution-planartifact">
        </wizardLink>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.stream"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newstreamartifact">
        </wizardLink>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.publisher"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newpublisherartifact">
        </wizardLink>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.receiver"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newreceiverartifact">
        </wizardLink-->
   </extension>
 
   <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.artifact.project.nature" name="PROJECT_NATURE">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.project.nature.CompositeApiProjectNature">
			</run>
		</runtime>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
	        <objectContribution objectClass="org.eclipse.core.resources.IProject" id="org.wso2.developerstudio.eclipse.apim.project.popup.storeapiimporter">
	               <action
	                        label="Import APIs from Store"
	                        icon="icons/car.png"
	                   class="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.ImportAPIAction"
	                        id="org.wso2.developerstudio.eclipse.apim.project.ui.action.storeapiimport">
	               </action>
	               <enablement>
						<adapt type="org.eclipse.core.resources.IProject">
						 <or>
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.artifact.project.nature" />
		 				</or>
						</adapt>
				</enablement>
	          </objectContribution>     
	 </extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.artifact.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.project.nature" icon="icons/new-mediator-12x12.png">
		</image>
	</extension>
	
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.perspective.PerspectiveFactory"
            id="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi"
            name="CompositeAPI"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CompositeAPI"
            id="com.packtpub.e4.clock.ui">
      </category>
      <view
			category="compositeAPI"
			class="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.views.TimeZoneTreeView"
			icon="icons/sample.gif"
			id="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.views.TimeZoneTreeView"
			name="Composite Tree View"
			restorable="true">
	  </view>
   </extension>
   

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi">
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               relative="left"/>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="top"/>
         <view
               id="org.eclipse.ui.views.BookmarkView"
               relationship="stack"
               relative="bottom"/>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="bottom"/>               
         <view
               id="org.wso2.developerstudio.eclipse.artifact.apim.compositeapi.views.TimeZoneTreeView"
               relationship="stack"
               relative="right"/>
               
      </perspectiveExtension>
   </extension>
    
    <!--extension
       point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
			class="org.wso2.developerstudio.eclipse.artifact.analytics.project.refactoring.rename.AnalyticsArtifactRenameParticipant"
			id="CEPArtifactRenameParticipant"
			name="CEPArtifactRename">
				<enablement>
					<and>
							<instanceof
								value="org.eclipse.core.resources.IFile">
							</instanceof>
						<adapt type="org.eclipse.core.resources.IResource">
             				<test
                   				property="org.eclipse.core.resources.projectNature"
                   				value="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature">
             				</test>
         				</adapt>
					</and>
				</enablement>
		</renameParticipant>
 </extension>
  <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
       <deleteParticipant
			class="org.wso2.developerstudio.eclipse.artifact.analytics.project.refactoring.delete.AnalyticsArtifactMetaDataDeleteParticipant"
			id="CEPArtifactMetaDataDeleteParticipant"
			name="CEPArtifactMetaDataDeleteParticipantRefactor">
				<enablement>
					<and>
							<instanceof
								value="org.eclipse.core.resources.IFile">
							</instanceof>
						<adapt type="org.eclipse.core.resources.IResource">
             				<test
                   				property="org.eclipse.core.resources.projectNature"
                   				value="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature">
             				</test>
         				</adapt>
					</and>
				</enablement>
		</deleteParticipant>
   </extension>
 	
 	<extension point="org.eclipse.wst.xml.core.catalogContributions"> 
  		<catalogContribution
			id="org.wso2.developerstudio.eclipse.artifact.analytics.receiver.xml"> 
  		<public 
 	 		publicId="http://wso2.org/carbon/eventreceiver" 
 	 		uri="platform:/plugin/org.wso2.developerstudio.eclipse.artifact.analytics/schema/receiver.xsd"> 
  		</public> 
 	 	</catalogContribution> 	 
 	</extension>
 	
 	<extension point="org.eclipse.wst.xml.core.catalogContributions"> 
  		<catalogContribution
			id="org.wso2.developerstudio.eclipse.artifact.analytics.publisher.xml"> 
  		<public 
 	 		publicId="http://wso2.org/carbon/eventpublisher" 
 	 		uri="platform:/plugin/org.wso2.developerstudio.eclipse.artifact.analytics/schema/publisher.xsd"> 
  		</public> 
 	 	</catalogContribution> 	 
 	</extension>

  <extension
        point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
     <provider
           class="org.wso2.developerstudio.eclipse.artifact.analytics.exporter.AnalyticsArtifactsProvider"
           nature="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature">
     </provider>
  </extensi-->
 	  
</plugin>
